[Unit]
Description=ssl-status-board-proxy service for configuration %i
After=network.target

[Service]
PIDFile=/var/run/ssl-status-board-proxy.%i.pid
User=status-board
Group=nogroup
LimitNOFILE=65536
ExecStart=/usr/local/bin/ssl-status-board-proxy -c /etc/ssl-status-board/ssl-status-board-proxy.%i.yaml
Restart=always
TimeoutStartSec=10
RestartSec=10

[Install]
WantedBy=multi-user.target
